* {
    box-sizing: border-box;
}

.login {
    width: 350px;
    margin: 100px auto;
    background-color: aqua;
    padding: 35px 40px 35px 40px;
    border-radius: 15px;
}

.form-login {
    display: flex;
    flex-direction: column;
}

.input {
    margin: 5px 0px;
    height: 30px;
    border-radius: 5px;
}

.home {
    text-align: center;
}

.home a {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
}